<div class="contenedor">
    <h2 class="titulo">Crear Nuevo Cliente</h2>
    <form (ngSubmit)="onSubmit()" class="row formulario">
        <div class=" col-md-4 form-group"> <!-- Full Name -->
            <label for="full_name_id" class="control-label">Company Name</label>
            <input type="text" class="form-control" [(ngModel)]="customer.companyName" [ngModelOptions]="{standalone: true}">
        </div>    
        
        <div class=" col-md-4 form-group"> <!-- Full Name -->
            <label for="full_name_id" class="control-label">Contact Name</label>
            <input type="text" class="form-control" [(ngModel)]="customer.contactName" [ngModelOptions]="{standalone: true}">
        </div>    
        <div class=" col-md-4 form-group"> <!-- Full Name -->
            <label for="full_name_id" class="control-label">Contact Title</label>
            <input type="text" class="form-control" [(ngModel)]="customer.contactTitle" [ngModelOptions]="{standalone: true}">
        </div>    
        <div class=" col-md-4 form-group"> <!-- Full Name -->
            <label for="full_name_id" class="control-label">Address</label>
            <input type="text" class="form-control" [(ngModel)]="customer.address" [ngModelOptions]="{standalone: true}">
        </div>    
        <div class=" col-md-4 form-group"> <!-- Full Name -->
            <label for="full_name_id" class="control-label">City</label>
            <input type="text" class="form-control" [(ngModel)]="customer.city" [ngModelOptions]="{standalone: true}">
        </div>    
        <div class=" col-md-4 form-group"> <!-- Full Name -->
            <label for="full_name_id" class="control-label">Región</label>
            <input type="text" class="form-control" [(ngModel)]="customer.region" [ngModelOptions]="{standalone: true}">
        </div>
        <div class=" col-md-4 form-group"> <!-- Full Name -->
            <label for="full_name_id" class="control-label">Postal Code</label>
            <input type="text" class="form-control" [(ngModel)]="customer.postalCode" [ngModelOptions]="{standalone: true}">
        </div>         
        
        <div class=" col-md-4 form-group"> <!-- Zip Code-->
            <label for="zip_id" class="control-label">Country</label>
            <input type="text" class="form-control" [(ngModel)]="customer.country" [ngModelOptions]="{standalone: true}">
        </div>

        <div class=" col-md-4 form-group"> <!-- Zip Code-->
            <label for="zip_id" class="control-label">Phone</label>
            <input type="text" class="form-control" [(ngModel)]="customer.phone" [ngModelOptions]="{standalone: true}">
        </div>  

        <div class=" col-md-4 form-group"> <!-- Zip Code-->
            <label for="zip_id" class="control-label">Fax</label>
            <input type="text" class="form-control" [(ngModel)]="customer.fax" [ngModelOptions]="{standalone: true}">
        </div> 

        <div class="buttons col-md-12 form-group d-flex justify-content-around"> <!-- Submit Button -->
            <button (click)="goBack()" class="btn btn-save btn-danger">Regresar</button>
            <button type="submit" class="btn btn-save btn-primary">Guardar</button>
        </div>     
        
    </form>

</div>

